// Hero Section left
:root {
--text-color: #F3F3F3;
}
body { font-family: 'Montserrat', sans-serif;
    background-color: #C9C9C9;}

ul {list-style-type:none;}

p { font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height:1.25;
    color: var(--text-color);
}
.container{
    width: 447px;
    padding: 0px;
    margin-right: 160px;;
}
.title{
    font-weight: 500;
    font-size: 64px;
    line-height: 1.2;
    color: #F3F3F3;
    margin-bottom: 40px;
}
.line{
    position: relative;
}
.line::before{
    content: "";
    position: absolute;
    border: 1px solid #F3F3F3;
    height: 153px;
    top: 3px;
    left: -12px;
}
.motto {
    font-weight: 800;
    color:rgba(188, 26, 26, 0.71);
}
.btn {
    font-family: inherit, sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.23;
    color:var(--text-color);
    background-color: rgba(188, 26, 26, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 26px 116px;
    gap: 10px;
    border-radius: 16px;
    border:none;
    cursor: pointer;
    margin-bottom: 68.5px;
    transition: background-color 250ms linear, box-shadow 250ms linear;
}
.btn:is(:hover,:focus){
  background-color: #d50505b7;
  box-shadow: inset 0px -12px 52px 25px rgba(0,0,0,0.3);
}
/*розміщення двох значень*/
.second-text{
  position: relative;
  font-weight: 300;
  font-size: 36px;
  line-height: 1.2;
  color: var(--text-color);
  max-width: 447px;
  margin-bottom: 40px;}
.list{
  width: 371px;
  height: 78px;
  display: flex;
  gap:31px;
  padding-top: 20.5px;
  padding-bottom: 18.5px;
  padding-left: 0;
}
.line-gap{
  position: relative;
  padding-right: 31px;
  width: 160px;
  height: 39px;
}
.line-gap::after{
  content: "";
  position: absolute;
  border: 1px solid #F3F3F3;
  height: 78px;
  top: 0;
  left: 179px;
  transform: translateY(-25%);
}
.list-second{
  width: 168px;
  height: 39px;
  padding-left: 12px;
}
.list-text{
  position: absolute;
  display: inline;
  width: 121px;
  margin: 0 auto;
}
.first{
  margin-top: 10px;
}
.fix{
  width: 131px;
}
.number{ 
  position: relative;
  display: inline;
  padding-right: 12px;
  width: 31px;
  height: 39px;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.2;
  color: var(--text-color);
  margin: 0;
}
.section {
  padding-top: 72px;
  padding-bottom: 145.5px;
}


/*Modal*/
.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) , visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.is-hidden{
    opacity: 0 ;
    visibility: hidden;
    pointer-events: none;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-60%, -50%);
    width: 504px;
    min-height: 1250px;
    padding: 60px;
    border-radius: 8px;
    background-color: #100F0F;
  }
.modal-title{
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 40px;
  text-align: center;
}
.modal-form {
}
.lable-name {
  margin-bottom: 12px;
}
.modal-input {
}
.modal-name {
  background-color: rgba(46, 47, 66, 0.4);
    width: 100%;
    border: 1px solid #F3F3F3;
    border-radius: 16px;
}
.delivery {
  margin-top: 40px;
}
.input-name{
  font-weight: 500;
  font-size: 24px;
  color: var(--primary-text-color);
  line-height: calc(29/24);
}
.payment {
    display: flex;
    margin: 40px 0px;
    flex-wrap: wrap;
    gap: 20px;
}
.paym{
  margin-right: 12px;
}
.modal-check {
  margin-top: 20px;
}
.checkbox {
  position: relative;
  margin-right: 12px;
}
.checkbox-txt {
  position: absolute;
}
.txt {
}
.btn-form {
  width: 384px;
  font-weight: 700;
  font-size: 20px;
  height: 66px;
  color: var(--primary-text-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(188, 26, 26, 0.2);
  border-radius: 16px;
  padding: 16px 32px;
  gap: 10px;
  margin-top: 40px;
  cursor: pointer;
  border: none;
}