<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="footer-link">
      <a href="./index.html" class="link logo">
        <svg class="logo-icon">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
        CUCINA</a
      >
      <ul class="list link-pages">
        <li class="item"><a href="./index.html" class="link">Home</a></li>
        <li class="item"><a href="./store" class="link">Store</a></li>
        <li class="item"><a href="./recipes" class="link">Recipes</a></li>
        <li class="item"><a href="./gallery" class="link">Gallery</a></li>
      </ul>
      <address class="adress-block">
        <ul class="list">
          <li class="item list-adress">
            <a
              href="https://goo.gl/maps/LSCHtoTCH1fFHiaG9"
              class="link link-adres"
            >
              <svg width="24" height="24" class="svg-icon">
                <use
                  href="./images/icons.svg#icon-location"
                  class="svg-icon"
                ></use>
              </svg>
              <p>Elvia Elviaveien 1, 1234 Oslo</p>
            </a>
          </li>
          <li class="item list-email">
            <a
              href="mailto:willie.jennings@example.com"
              class="link link-email"
            >
              <svg width="24" height="24" class="svg-icon">
                <use
                  href="./images/icons.svg#icon-envelop"
                  class="svg-icon"
                ></use>
              </svg>
              <p>willie.jennings@example.com</p>
            </a>
          </li>
        </ul>
      </address>
      <ul class="list list-icons">
        <li class="items">
          <a href="#" class="social">
            <svg class="soc-icon">
              <use href="./images/icons.svg#icon-tumblr"></use>
            </svg>
          </a>
        </li>
        <li class="items">
          <a href="#" class="social">
            <svg class="soc-icon">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="items">
          <a href="#" class="social">
            <svg class="soc-icon">
              <use href="./images/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="items">
          <a href="#" class="social">
            <svg class="soc-icon">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <p class="privacy">
      By using this website, you agree to the
      <a href="#" class="link privacy-link">Terms of Service</a> and
      <a href="#" class="link privacy-link">Privacy Policy</a>
    </p>
  </div>
</footer>
