<!-- Gallery Section -->
<section class="gallery">
  <div class="container gallery-cont">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="./images/farmer-picking-fresh-ripe-tomato-vegetables-for-the-market-sale1.jpg"
            alt="farmer"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./images/full-shot-kids-picking-tomatoes1.jpg"
            alt="kids with tomatoes"
          />
        </div>
        <div class="swiper-slide">
          <img src="./images/image6.jpg" alt="farmer" />
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
