<!-- Header -->
<header class="header">
  <div class="container header-block">
    <nav class="navigator">
      <a href="./index.html" class="link logo">
        <svg class="logo-icon">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
        CUCINA
      </a>
      <ul class="list">
        <li class="item"><a href="./index.html" class="link">Home</a></li>
        <li class="item"><a href="#" class="link">Store</a></li>
        <li class="item"><a href="#" class="link">Recipes</a></li>
        <li class="item"><a href="#" class="link">Gallery</a></li>
      </ul>
    </nav>
    <button type="button" class="btn-contact">Contact us</button>
  </div>
</header>