<!-- Hero Section left -->
<div class="hero-section-left">
  <h1 class="hero-title-first">CUCINA DI CATHERINA</h1>
  <h2 class="hero-title-second">
    We know, <br />
    you will <span class="motto">love</span> our product
  </h2>
  <button type="button" class="btn">Buy now</button>
  <ul class="list">
    <li>
      <h2 class="number hero-title-second">14</h2>
      <p class="hero-text">different tastes</p>
    </li>
    <li>
      <h2 class="number hero-title-second">31</h2>
      <p class="hero-text">factories around the world</p>
    </li>
  </ul>
</div>
