<!-- Hero Section right -->
<div class="hero-section-right">
  <div class="content-list">
    <span class="content-item content-item1">Italy tomatoes</span>
    <div class="wrapper-content-item2">
      <span class="content-item content-item2">Fresh garlic</span>
    </div>
    <div class="wrapper-content-item3">
      <span class="content-item content-item3">White wine</span>
    </div>
    <div class="wrapper-content-item4">
      <span class="content-item content-item4">Fresh basil</span>
    </div>
  </div>

  <img
    src="./images/ketchup.png"
    alt="Ketchup"
    class="ketchup"
    width="432"
    height="577"
  />

  <ul class="list social-list-links">
    <li class="social-link">
      <a href="#" class="link">
        <svg class="soc-icon">
          <use href="./images/icons.svg#icon-tumblr"></use>
        </svg>
      </a>
    </li>
    <li class="social-link">
      <a href="#" class="link">
        <svg class="soc-icon">
          <use href="./images/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="social-link">
      <a href="#" class="link">
        <svg class="soc-icon">
          <use href="./images/icons.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
    <li class="social-link">
      <a href="#" class="link">
        <svg class="soc-icon">
          <use href="./images/icons.svg#icon-twitter"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
