<!-- Souces Section -->

<!-- <section>
        <div class="container sauces-container">
          <ul class="list sauces-list">
            <li class="sauces-item">
              <img src="./images/phototomato.jpg" alt="photo tomato" class="sauces-img"/>
              <div class="sauces-content">
              <h2 class="sauces-label">Classic sauce</h2>
              <p class="sauces-description"> -->

<!-- Product Section -->
<section class="products-scroll">
  <div class="container">
    <h2 class="visually-hidden">Prodacts scroll</h2>
    <div class="swiper-products">
      <div class="swiper-products-wrapper">
     <ul class="products-scroll-list">
      <div class="swiper-products-slide">
      <li class="products-scroll-item">
        <div class="products-card-box1">
        <h3 class="products-scroll-title">Classic sauce</h3>
        <p class="products-scroll-txt">
          The most delicate taste of tomatoes, combined with branded
          spices and white wine, will make your dish incredibly tasty.
        </p>
        <button class="products-btn-classic" type="button">Buy now</button>
      </div>
        <div class="products-img-box">
        <img class="products-img" src="./images/products-img1.png" width="349"  height="349" alt="product photo" />
      </div>
      </li>
      <li class="products-scroll-item">
        <div class="products-card-box2">
        <h3 class="products-scroll-title">Spicy sauce</h3>
        <p class="products-scroll-txt">
          For thrill-seekers, we added hot chili pepper to our sauce, it
          also reveals all the tastes and aromas of the sauce well.
        </p>
        <button class="products-btn-spicy"  type="button">Buy now</button>
      </div>
        <div class="products-img-box">
        <img class="products-img" src="./images/products-img2.png"  width="349"  height="349" alt="product photo" />
      </div>
      </li>
    </div>
    <div class="swiper-products-slide">
      <li class="products-scroll-item">
        <div class="products-card-box1">
        <h3 class="products-scroll-title">Classic sauce</h3>
        <p class="products-scroll-txt">
          The most delicate taste of tomatoes, combined with branded
          spices and white wine, will make your dish incredibly tasty.
        </p>
        <button class="products-btn-classic" type="button">Buy now</button>
      </div>
        <div class="products-img-box">
        <img class="products-img" src="./images/products-img3.png"  width="349"  height="349" alt="product photo" />
      </div>
      </li>
      <li class="products-scroll-item">
        <div class="products-card-box2">
        <h3 class="products-scroll-title">Spicy sauce</h3>
        <p class="products-scroll-txt">
          For thrill-seekers, we added hot chili pepper to our sauce, it
          also reveals all the tastes and aromas of the sauce well.
        </p>
        <button class="products-btn-spicy" type="button">Buy now</button>
      </div>
      <div class="products-img-box">
        <img class="products-img" src="./images/products-img4.png"  width="349"  height="349" alt="product photo" />
      </div>
      </li>
    </div>
    <div class="swiper-products-slide">
      <li class="products-scroll-item">
        <div class="products-card-box1">
        <h3 class="products-scroll-title">Classic sauce</h3>
        <p class="products-scroll-txt">
          The most delicate taste of tomatoes, combined with branded
          spices and white wine, will make your dish incredibly tasty.
        </p>
        <button class="products-btn-classic" type="button">Buy now</button>
      </div>
        <div class="products-img-box">
        <img class="products-img" src="./images/products-img5.png"  width="349"  height="349" alt="product photo" />
      </div>
      </li>
      <li class="products-scroll-item">
        <div class="products-card-box2">
        <h3 class="products-scroll-title">Spicy sauce</h3>
        <p class="products-scroll-txt">
          For thrill-seekers, we added hot chili pepper to our sauce, it
          also reveals all the tastes and aromas of the sauce well.
        </p>
        <button class="products-btn-spicy" type="button">Buy now</button>
      </div>
        <div class="products-img-box">
        <img class="products-img" src="./images/products-img6.png"  width="349"  height="349" alt="product photo" />
      </div>
      </li>
    </div>
    </ul>
  </div>
  </div>
  </div>
</section>
