<!-- Videos Section -->
<section class="section-video">
  <div class="container">
    <h2 class="visually-hidden">Video</h2>
    <ul class="list list-video">
      <li class="item-video">
        <h3 class="video-label">Bell pepper pasta</h3>
        <a href="#" class="link video-link"
          ><img
            src="./images/adding-garlic.png"
            alt="Adding garlic"
            width="442"
        /></a>
      </li>
      <li class="item-video">
        <h3 class="video-label">Tomato paste</h3>
        <a href="#" class="link video-link"
          ><img
            src="./images/preparing-cooking.png"
            alt="Preparing cooking"
            width="442"
        /></a>
      </li>
    </ul>
  </div>
</section>
